<div class="backdrop">
  <div id="navbar">
  </div>
  <div id="main" class="container">
  </div>
</div>
<div class="content">
</div>
<script>
$(document).ready(function(){
  BillOrganizer.initialize();
});
</script>
