<div class="backdrop">

<h1 class="main_title"> Bill Organizer </h1>

<div class="sign_in">
<h1>Sign Up</h1>

<form action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Email<br>
    <input name="user[email]" type="text"><br>
  </label><br><br>
  <label>Password<br>
    <input name="user[password]" type="password"><br>
  </label><br><br>
  <input type="submit" value="Submit" class="btn btn-primary"><br>
</form>
<br>
<br>
Sign in <a href="<%=new_session_url%>">here</a>
</div>


<div class="description">
  Welcome to Bill Organizer!
  This web application is a free service that
  helps you split household bills with
  your roommates based on time spent in residence.
  Bill data will persist until the creator deletes it,
  and can be viewed by anyone given the unique link.
  If you wish to test out the application,
  feel free to sign in as a guest and test out the features!
</div>
</div>
