<% if (window.CURRENT_USER_ID === parseInt(roommate.collection.bill.escape("owner_id"))){ %>
  <button
    class="killRoommate close" title="Delete this person!">&times;
  </button>
  <button
    class="editRoommate pull-left btn-group btn-group-sm glyphicon glyphicon-pencil"
    type=button
    title="Edit Roommate!">
  </button>
<% } %>
<br>
<div class="paidBox"> Owes $<%=owedAmount%> :  Paid?
    <input type="checkbox" <%=checked%>
      <% if (window.CURRENT_USER_ID !== parseInt(roommate.collection.bill.escape("owner_id"))){ %>
      disabled="disabled"
      <% } %>
    >
</div>
<div class="roommateAttrs">
<br>
  <li> Email: <%= roommate.escape("email") %></li>
  <br>
  <li>
    <%= days %> relevant days
  </li>
</div>
