<h1>Greetings from Bill Organizer!</h1>

<p>
  Your (hopefully) friend has created a bill and tagged you as a party in it.
</p>
<p>
  You can view the bill details at https://bill-organizer.herokuapp.com/#bills/<%=@bill.id%>
</p>
<p>
  The bill states that you owe: $<%=@amount%>
</p>
<p>
  If you do not think this email applies to you, please ignore it!
</p>
