.billShowTitle {
  font-size: 40px;
  font-weight: 300;
}

.billShowContainer {
  font-size: 18px;
  border: 1px solid black;
  margin: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 3px;
  button {
    margin: 20px 10px 0 10px;
  }
  width: 40%;
  float: left;
  text-align: left;
    .table {
      background-color: aquamarine;
    }

    .close {
      position: relative;
      top: -27px;
    }
  }

.deleteBill {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

.billItem {
  border: 1px solid black;
  border-radius: 5px;
  height: 100px;
  width: 300px;
  button {
    margin: 0px 0px 10px 0px;
  }
}

.billItem a {
  font-size: 24px;
}

.date {
  margin: 0 auto;
  padding: 0 auto;
  padding-left: 5px;
  font-size: 12px;
}

.made {
  float: left;
}

.tagged {
  float: right;
}

svg {
  position: absolute;
  bottom: 10px;
}
#check {
  fill: none;
  stroke: green;
  stroke-width: 20;
  stroke-dasharray: 180;
  stroke-dashoffset: 180;
  animation: draw 2s 1 ease;
  animation-fill-mode: forwards;
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
.billItem {
  margin-bottom: 5px;
  padding: 5px;
  a {
  color: teal;
  text-decoration: none;
  }
}
.billItem:hover {
  background-color: pink;
}

.taggedBills {
  height: auto;
  max-height: 600px;
  overflow: scroll;
  padding: 0;
  margin: 0;
}

.billList {
  height: auto;
  max-height: 600px;
  overflow: scroll;
  padding: 0;
  margin: 0;
}

.billInfo {
  padding-bottom: 10px;
}


.amazingSearchBar{
  position: absolute;
  top: 30%;
  left: 40%;
}
