.type_buttons {
  right: 120px;
  position: relative;
  div {
    button {
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}

.period {
  font-size: 24px;
  font-color: red;
  position: relative;
  right: 20px;
}
