.m-content {
  border: 3px solid gainsboro;
  z-index: 101;
  background-color: ghostwhite;
  border-radius: 3px;
  padding: 20px;
  height: 400px;
  width: 564px;
  position: fixed;
  margin-top: 66px;
  left: 25%;
  form {
    left: 30%;
    width: 70%;
    position: relative;
  }
  .close {
    position: relative;
    bottom: 16px;
  }
}
.m-backdrop {
  position: absolute;
  background-color: rgba(170, 169, 176, .5);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 68;
}
