.signOutButton {
  background: none;
  border: none;
  font: inherit;
  text-decoration: none;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  padding-left: 20px;
}

.tag_notifications {
  display: block;
  height: 100%;
}
