
.roommateContainer {
  font-family:arial,sans-serif;
  font-size:100%;
  margin:3em;
//  background-image: url(http://2.bp.blogspot.com/-27YrInP8zxg/UC1Y_Ih2JvI/AAAAAAAAASs/ixJBEtbjWhM/s1600/Cork-Board.gif);
  color:#fff;
  width: 220%;
  padding: 50px;
  position: relative;
  left: -300px;
  label {
    float: left;
    margin-top: 10px;
    position: relative;

  }



}

.editRoommate {
  margin-top: 10px;
  position: relative;
}
.roommateAttrs {
  float: right;
  li {
    list-style: none;
  }
}

.SingleRoommate {
  font-size: 16px;
  margin-left: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  text-decoration:none;
  position: relative;
   color:#000;
   background:#ffc;
   display:block;
   height:15em;
   width:15em;
   padding:1em;
   float: left;
   -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
/* Safari+Chrome */
-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
/* Opera */
box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

// .SingleRoommate:nth-child(even) {
//   -o-transform:rotate(-4deg);
//   -webkit-transform:rotate(-4deg);
//   -moz-transform:rotate(-4deg);
//   position:relative;
//   top:5px;
// }
// .SingleRoommate:nth-child(3n) {
//   -o-transform:rotate(3deg);
//   -webkit-transform:rotate(3deg);
//   -moz-transform:rotate(3deg);
//   position:relative;
//   top:-5px;
// }
// .SingleRoommate:nth-child(5n) {
//   -o-transform:rotate(-5deg);
//   -webkit-transform:rotate(-5deg);
//   -moz-transform:rotate(-5deg);
//   position:relative;
//   top:-10px;
// }

.paidRoommate{
  opacity: 0.5;
  background-color: "linen"
}

.unpaidRoommate{
  opacity: 1;
}


.roommateShowContainer {
  width: 30%;
  float: right;
}


.roommateForm {
  position: absolute;
  z-index: 1751935724;
}
