.sign_in {
  background-color: whitesmoke;
  margin: 5px auto;
  left: 25%;
  top: 50px;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
  width: 300px;
  float: left;
  padding: 10px;
  padding-left: 50px;
}

.description {
  color: lightskyblue;
  font-size: 18px;
  letter-spacing: 2px;
  position: relative;
  left: 30%;
  margin: 5px auto;
  top: 100px;
  float: left;
  width: 300px;
}

.main_title {
  color: lightskyblue;
  font-size: 52px;
  font-weight: 500;
  position: relative;
  left: 30%;
  margin-bottom: 0;
  padding-bottom: 0;
}
