.sign_in {
  background-color: whitesmoke;
  margin: 5px auto;
  position: relative;
  width: 100%;
  padding: 10px;
  padding-left: 50px;
}

.main_title {
  margin-bottom: 0;
  padding-bottom: 0;
  width: 100%;
}


 .landingEntry {
   background-color: whitesmoke;
   position: absolute;
   left: 35%;
   width: 30%;
   border: 1px solid black;
   border-radius: 5px;
   box-shadow: 2px 2px 2px #888888;
   display:block;justify-content:center;align-items:center;
   top: 20%;
   .sign_in {
     form {
       width: 100%;
       input {
         width:100%;
       }
       .btn {
         width: 50%;
       }
   }
   }
 }
