
<button
  class="deleteBill close" title="Delete this bill!">&times;
</button>
<div class="billInfo">
<a href="#bills/<%=bill.id%>"><%= bill.escape("title") %></a><br>
<div class="date">Last Updated: <%= date %></div>
</div>
<button class="next glyphicon glyphicon-chevron-right"></button>
