<h1> Bill History </h1>
<ul class="billList"></ul>
<figure class='book'>

  <!-- Front -->

  <ul class='paperback_front'>
    <li>
      <span class="ribbon">Bills</span>
      <img src="assets/bg.jpg" width="100%" height="100%">
    </li>
    <li></li>
  </ul>

  <!-- Pages -->

  <ul class='ruled_paper billList'>
  </ul>

  <!-- Back -->

  <ul class='green paperback_back'>
    <li>
      <img src="assets/bg.jpg" width="100%" height="100%">
    </li>
    <li></li>
  </ul>
</figure>
