<button class="editRoommate pull-left btn-group btn-group-sm glyphicon glyphicon-pencil"
  type=button></button>
  <label> Paid?
    <input class="paidBox pull-left" type="checkbox" <%=checked%> >
  </label>
<ul class="roommateAttrs">
  <li> Email: <%= roommate.escape("email") %></li>
  <li>
    <%= roommate.escape("from_date") %>
    ->
    <%= roommate.escape("end_date") %>
  </li>
</ul>
