<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a
        class="navbar-brand logo"
        href="#">
      <img src="http://res.cloudinary.com/bill-organizer/image/upload/c_scale,w_106/v1434658372/Bill_Organizer-logo_itg7mx.png">
      </img>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="createBill active"><a href="#bills/new">Create new Bill <span class="sr-only">(current)</span></a></li>
      </ul>
      <form class="searchBar navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Global Search by Id or Title"
            name="searchString" value="">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#"
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-expanded="false"
          >
            <strong class="badge"><%=this.followBills.length%></strong>Notifications
            <span class="caret"></span>
          </a>
          <ul class="notifications dropdown-menu" role="menu">
          </ul>
        </li>
        <li class="dropdown">
          <a href="#"
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-expanded="false"
            >
            <%= window.CURRENT_USER_EMAIL %>
            <span class="caret"></span>
          </a>
          <ul class="userInfo dropdown-menu" role="menu">
            <li>
              <form action="/session" method="POST">
                <input type="hidden" name="authenticity_token" value="<%= $('meta[name="csrf-token"]').attr('content')%>">
                <input type="hidden" name="_method" value="delete">
                <input class="signOutButton" type="submit" value="Sign Out!">
              </form>
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
